{% load staticfiles %}
<!DOCTYPE html>
<html> 
{% block header %}
<head>
  <meta charset="utf-8">
  
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="static/jqm/jqm-1.4.5.min.css">

<!-- Include the jQuery library -->
<script src="static/jquery/jquery-1.11.3.min.js"></script>

<!-- Include the jQuery Mobile library -->
<script src="static/jqm/jqm-1.4.5.min.js"></script>

</head>
{% endblock header %}

{% block body %}  
<body>
  {% block navbar %}
  {% endblock navbar %}

  {% block extra %}
  {% endblock extra %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
  {% endblock footer %}

  {% block javascript %}    
  {% endblock javascript %}

  {% block custom_js %}
  {% endblock custom_js %}  
</body>
{% endblock %} 
</html>
