{% extends "base.html" %}

{% block content %}
<form role="form" action="/survey/{{ survey.id }}" method="POST">
    <input type="hidden" name="survey_id" value="{{ survey.id }}"> 
	<input type="text" name="bill_number"> Bill Number
	<input type="email" name="email"> Email
	<input type="number" name="mobile"> Mobile
	{% csrf_token %}
	{% for ques in survey.questions.all %}
	<div data-role="page" id="ques_{{ forloop.counter }}" data-theme="c">
		<div data-role="header">
			<h1>Welcome To Feedy2.0</h1>
		</div>

		<div data-role="main" class="ui-content">
			<div class="form-group">
				<label for="{{ ques.title }}">{{ ques.title }}</label>
				<select name="{{ ques.title }}">
					{% for option in ques.options.all %}
						<option value="{{ option.text }}">{{ option.text }}</option>
					{% endfor %}
				</select>
			</div>
			<div id="next">
				{% if forloop.counter == survey.questions.count %}
					<button type="submit">Submit</button>
				{% else %}
					<a href="#ques_{{ forloop.counter|add:1}}">Next</a>
				{% endif %}
			</div>
		</div>
		<div data-role="footer">
			<h1>Footer</h1>
		</div>
	</div> 	
	{% endfor %}
</form>

{% endblock %}